<div class="container"> 
    Name: 
    <input type="text" id="name">
    Email:
    <input type="text" id="email">
    Password:
    <input type="password" id="password">
    
    <button id="signupBtn"> Sign Up </button>
</div>